/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@import "tailwindcss";

@theme {
  --font-serif: 'DM Serif Text', serif;
}
